USE [master]
GO
/****** Object:  Database [Lab2_Home]    Script Date: 1/29/2023 7:39:59 AM ******/
CREATE DATABASE [Lab2_Home]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lab2_Home', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Lab2_Home.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lab2_Home_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Lab2_Home_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lab2_Home].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lab2_Home]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 1/29/2023 7:40:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[courseId] [nchar](10) NULL,
	[courseName] [nchar](10) NULL,
	[studentName] [nchar](10) NULL,
	[teacherName] [nchar](10) NULL,
	[semester] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Result]    Script Date: 1/29/2023 7:40:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Result](
	[studentId] [nchar](10) NULL,
	[studentName] [nchar](10) NULL,
	[courseName] [nchar](10) NULL,
	[Marks] [int] NULL,
	[grade] [nchar](10) NULL,
	[section] [nchar](10) NULL,
	[semester] [int] NULL,
	[session] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 1/29/2023 7:40:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[registrationNumber] [nchar](10) NULL,
	[Name] [nchar](10) NULL,
	[Department] [nchar](10) NULL,
	[Session] [int] NULL,
	[Address] [nchar](10) NULL
) ON [PRIMARY]
GO
USE [master]
GO
